<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>50</integer>
    <key>angleVariance</key>
    <real>28.595806121826172</real>
    <key>blendFuncDestination</key>
    <integer>771</integer>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorBlue</key>
    <integer>1</integer>
    <key>finishColorGreen</key>
    <real>0.8333333134651184</real>
    <key>finishColorRed</key>
    <integer>1</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <real>0.1538461595773697</real>
    <key>finishColorVarianceGreen</key>
    <real>0.3076923191547394</real>
    <key>finishColorVarianceRed</key>
    <real>0.07662259787321091</real>
    <key>finishParticleSize</key>
    <real>31.13157844543457</real>
    <key>finishParticleSizeVariance</key>
    <real>55.21052551269531</real>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>-400</integer>
    <key>maxParticles</key>
    <integer>20</integer>
    <key>maxRadius</key>
    <integer>100</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>0.6000000238418579</real>
    <key>particleLifespanVariance</key>
    <real>0.44999998807907104</real>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <real>799.3421020507812</real>
    <key>sourcePositionVariancex</key>
    <real>43.619998931884766</real>
    <key>sourcePositionVariancey</key>
    <real>28.25</real>
    <key>sourcePositionx</key>
    <real>8.469667434692383</real>
    <key>sourcePositiony</key>
    <real>7.547120571136475</real>
    <key>speed</key>
    <real>876.644775390625</real>
    <key>speedVariance</key>
    <real>390.3166198730469</real>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <integer>1</integer>
    <key>startColorGreen</key>
    <real>0.8333333134651184</real>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <real>0.15703125298023224</real>
    <key>startColorVarianceGreen</key>
    <real>0.36000001430511475</real>
    <key>startColorVarianceRed</key>
    <real>0.03999999910593033</real>
    <key>startParticleSize</key>
    <real>20.13157844543457</real>
    <key>startParticleSizeVariance</key>
    <real>39.52631759643555</real>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>spriteFrameUuid</key>
    <string>120f6bee-698e-46a1-bcb6-d94986714764</string>
  </dict>
</plist>